.results {
    // @include default-page-layout();
    height: 100vh;
    width: 66vw;
    display: grid;

    margin-top: 4rem;
    grid-gap: 40px;
}

.results-posts {
    display: grid;
    grid-row-gap: 21px;

    .results-posts-wrapper{

        .results-posts-posts {
            display: grid;
            grid-row-gap: 20px;
        }
    }
}

.result-post {
    display: grid;
    align-content: space-around;
    grid-row-gap: 22px;

    .result-post-topics > * {
        color: $color-blue-one;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }

    .result-post-title a {
        color: $color-gray-one;
        font-size: 18px;
    }

    .result-post-links {
        display: flex;
    }
}


.post-link {
    min-height: 70px;
    display: flex;
    flex-basis: 205px;
    margin-right: 35px;
    
    .post-link-box {
        min-width: 70px;
        background-color: $color-gray-three;
        margin-right: 16px;  // when using FLEXbox, use margin because we have no GRID-gaps functionalities.

    }

    .post-link-link a {
        color: $color-gray-one;
        font-size: 13px;
        line-height: 18px;
    }
}